<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Novedades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let n of novedades; index as position">
    <ion-card-header>
      <ion-card-subtitle>{{ n.fields.fecha }}</ion-card-subtitle>
      <ion-card-title>{{ n.fields.titulo }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{ n.fields.detalle_noticia }}
    </ion-card-content>
  </ion-card>
</ion-content>
