<ion-header>  
  <ion-toolbar>  
    <ion-title>Solucionar Incidencia</ion-title>  
    <ion-icon name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>  
  </ion-toolbar>  
</ion-header>  
  
<ion-content>  
 <form [formGroup]="formularioSoluciones">  
  <ion-item>
    <ion-label position="floating">Respuesta</ion-label>
    <ion-input formControlName="respuesta"></ion-input>
  </ion-item>  
  <ion-button (click)="addPhoto()" expand="block" fill="clear" shape="round">
    Tomar fotografía <ion-icon slot="start" name="camera"></ion-icon>
  </ion-button>  
  <ion-card *ngFor="let pic of ps.pics; index as position">
    <ion-label color="warning">{{ pic.filepath }}</ion-label>        
    <img src="{{ pic.webviewPath }}" alt="">
  </ion-card>
  <br/><br/>
  <ion-button (click)="guardarSolucion()" expand="block" fill="outline" size="small" color="success" class="btnIncidencias" style="margin-top: 12%;">
    Enviar <ion-icon name="send" slot="end"></ion-icon>
  </ion-button>
  <ion-input type="hidden" formControlName="imagen" *ngFor="let pic of ps.pics; index as position" value="{{ pic.webviewPath}}"></ion-input>
 </form> 
</ion-content>
