<ion-header>
  <ion-toolbar>
    <ion-title>Hapa - Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>    
    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <img src="assets/logo_hapa.png" alt="Hapa" style="height: 100px; width: 350px; margin: 0 auto;">    
      </ion-col>
      <ion-col size="12">
        <form [formGroup]="formularioLogin">
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input formControlName="usuario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="contrasenia" type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="warning">Si aún no tiene usuario regístrese <a [routerLink]="['/register']" routerLinkActive="router-link-active" >aquí</a></ion-label>
          </ion-item>
          <ion-button (click)="login()" expand="block" fill="solid" style="--background: #d82a27 !important; --color: #ffffff;">
            Ingresar <ion-icon name="log-in-outline" slot="end"></ion-icon>
          </ion-button>
        </form>
      </ion-col>      
    </ion-row>
  </ion-grid>  
  </ion-content>
