<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/incidencia']" routerLinkActive="router-link-active" >
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label>Incidencias</ion-label>
      </ion-item>
      <ion-item *ngIf="!persona_hapa" [routerLink]="['/encuesta']" routerLinkActive="router-link-active" >
        <ion-icon name="pencil-outline" slot="start"></ion-icon>
        <ion-label>Encuestas</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/novedades']" routerLinkActive="router-link-active" >
        <ion-icon name="newspaper-outline" slot="start"></ion-icon>
        <ion-label>Novedades</ion-label>
      </ion-item>
      <ion-item *ngIf="!persona_hapa" [routerLink]="['/backoffice']" routerLinkActive="router-link-active" >
        <ion-icon name="briefcase-outline" slot="start"></ion-icon>
        <ion-label>Backoffice (organigrama)</ion-label>
      </ion-item>
      <ion-item *ngIf="persona_hapa" [routerLink]="['/asistencia']" routerLinkActive="router-link-active" >
        <ion-icon name="person-add-outline" slot="start"></ion-icon>
        <ion-label>Asistencias</ion-label>
      </ion-item>      
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Panel Control - HapaApp</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-item style="--background: #1c1a19; --color: #ffffff;">        
        <ion-label text-wrap>
          <ion-icon name="person-circle-outline" slot="start"></ion-icon> {{ usuario }} 
        </ion-label>        
      </ion-item>
    
      <ion-card-content style="--background: #ffffff">   
        <ion-item lines="inset" style="--background: #ffffff; --color: #1c1a19;">
          <ion-label text-wrap>
            <h1>{{ cliente }}</h1>
          </ion-label>          
        </ion-item>       
        <ion-item lines="inset">
          <ion-label text-wrap>
            Nombres: {{ first_name }} {{ last_name }}
          </ion-label>          
        </ion-item>   
        <ion-item lines="inset">
          <ion-label text-wrap>
            Cargo: {{ persona[0].fields.roles }}
          </ion-label>          
        </ion-item>         
        <ion-item lines="inset">
          <ion-label text-wrap>
            Dirección: {{ persona[0].fields.direccion }}
          </ion-label>          
        </ion-item>           
        <ion-item lines="inset">
          <ion-label text-wrap>
            Teléfono: {{ persona[0].fields.telefono }}
          </ion-label>          
        </ion-item>  
        <ion-item lines="inset" [ngSwitch]="persona[0].fields.tipo_documento">
          <ion-label *ngSwitchCase="'D'" text-wrap>
            Tipo de Documento: DNI
          </ion-label> 
          <ion-label *ngSwitchCase="'P'" text-wrap>
            Tipo de Documento: Pasaporte
          </ion-label>          
          <ion-label *ngSwitchCase="'E'" text-wrap>
            Tipo de Documento: Carné Extranjería
          </ion-label> 
        </ion-item>   
        <ion-item lines="inset">
          <ion-label>
            Nro Documento: {{ persona[0].fields.nro_documento }}
          </ion-label>          
        </ion-item>             
      </ion-card-content>
    </ion-card>
    <ion-toolbar style="--background: #d82a27; --color: #ffffff;">
      <ion-buttons slot="end">
        <ion-button (click)="modalIncidencias()">
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="alert-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>     
      <ion-title>Añadir Incidencia</ion-title>
    </ion-toolbar>
  </ion-content>
</div>

